<form action="/cocktail/addition_process" method="post">
  <div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        칵테일 레시피 추가
    </div>
  <div class="card-body">
    <div class="row mb-3">
      <label class="col-sm-2 col-form-label">칵테일 이름</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" placeholder="칵테일 이름" name="cname">
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-sm-2 col-form-label">재료 - 용량</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" placeholder="재료" name="cing1">
      </div>
      <div class="col-sm-5">
        <input type="text" class="form-control" placeholder="용량(ml)" name="cvol1">
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-sm-2 col-form-label">재료 - 용량</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" placeholder="재료" name="cing2">
      </div>
      <div class="col-sm-5">
        <input type="text" class="form-control" placeholder="용량(ml)" name="cvol2">
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-sm-2 col-form-label">재료 - 용량</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" placeholder="재료" name="cing3">
      </div>
      <div class="col-sm-5">
        <input type="text" class="form-control" placeholder="용량(ml)" name="cvol3">
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-sm-2 col-form-label">재료 - 용량</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" placeholder="재료" name="cing4">
      </div>
      <div class="col-sm-5">
        <input type="text" class="form-control" placeholder="용량(ml)" name="cvol4">
      </div>
    </div>
    <div style="display: flex;">
      <div style="margin-right: 10px;">
          <button type="submit" class="btn btn-primary">추가</button>
      </div>
    </form>
      <div>
          <a href="/cocktail/manage" class="btn btn-primary" style="color: white; text-decoration:none;">뒤로가기</a>
    </div>
  </div>
  </div>
